In [1]:
import pandas as pd
from functools import reduce

In [2]:
pop2010 = pd.read_csv("pop_2010.csv",encoding = "ISO-8859-1")
pop2010 = pd.DataFrame(pop2010)

pop2011 = pd.read_csv("pop_2011.csv",encoding = "ISO-8859-1")
pop2011 = pd.DataFrame(pop2011)

pop2012 = pd.read_csv("pop_2012.csv",encoding = "ISO-8859-1")
pop2012 = pd.DataFrame(pop2012)

pop2013 = pd.read_csv("pop_2013.csv",encoding = "ISO-8859-1")
pop2013 = pd.DataFrame(pop2013)

pop2014 = pd.read_csv("pop_2014.csv",encoding = "ISO-8859-1")
pop2014 = pd.DataFrame(pop2014)

pop2015 = pd.read_csv("pop_2015.csv",encoding = "ISO-8859-1")
pop2015 = pd.DataFrame(pop2015)

pop2016 = pd.read_csv("pop_2016.csv",encoding = "ISO-8859-1")
pop2016 = pd.DataFrame(pop2016)

pop2017 = pd.read_csv("pop_2017.csv",encoding = "ISO-8859-1")
pop2017 = pd.DataFrame(pop2017)

pop2018 = pd.read_csv("pop_2018.csv",encoding = "ISO-8859-1")
pop2018 = pd.DataFrame(pop2018)

pop2019 = pd.read_csv("pop_2019.csv",encoding = "ISO-8859-1")
pop2019 = pd.DataFrame(pop2019)

In [55]:
pop = [pop2010,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019]
pop_merged = reduce(lambda left, right: pd.merge(left,right, on=['CBSAA'],how='inner'),pop)

name = []

for index, row in pop_merged.iterrows():
    name.append(row['NAME_y'][0])

pop_merged = pop_merged.drop(pop_merged.columns[[5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29]], axis=1)
pop_merged['Name'] = name

pop_merged['Name'] = pop_merged['Name'].str.replace('Micro Area','')
pop_merged['Name'] = pop_merged['Name'].str.replace('Metro Area','')

In [56]:
pop_merged.head()

,CBSAA,2010_Pop,2011_Pop,2012_Pop,2013_Pop,2014_Pop,2015_Pop,2016_Pop,2017_Pop,2018_Pop,2019_Pop,Name
0,10140,72797,72546,71692,71078,70818,71122,71628,72697,73901,75061,"Aberdeen, WA"
1,10180,165252,165858,167800,168144,166900,168922,170860,169747,174006,171795,"Abilene, TX"
2,10300,99892,99440,98987,99188,99047,98573,98504,98623,98266,98451,"Adrian, MI"
3,10380,306292,304633,304727,327847,322079,313209,309764,306000,292919,288877,"Aguadilla-Isabela-San Sebastián, PR"
4,10420,703200,701456,702262,705686,703825,704243,702221,703505,704845,703479,"Akron, OH"

In [3]:
inc2010 = pd.read_csv("income_2010.csv",encoding = "ISO-8859-1")
inc2010 = pd.DataFrame(inc2010)

inc2011 = pd.read_csv("income_2011.csv",encoding = "ISO-8859-1")
inc2011 = pd.DataFrame(inc2011)

inc2012 = pd.read_csv("income_2012.csv",encoding = "ISO-8859-1")
inc2012 = pd.DataFrame(inc2012)

inc2013 = pd.read_csv("income_2013.csv",encoding = "ISO-8859-1")
inc2013 = pd.DataFrame(inc2013)

inc2014 = pd.read_csv("income_2014.csv",encoding = "ISO-8859-1")
inc2014 = pd.DataFrame(inc2014)

inc2015 = pd.read_csv("income_2015.csv",encoding = "ISO-8859-1")
inc2015 = pd.DataFrame(inc2015)

inc2016 = pd.read_csv("income_2016.csv",encoding = "ISO-8859-1")
inc2016 = pd.DataFrame(inc2016)

inc2017 = pd.read_csv("income_2017.csv",encoding = "ISO-8859-1")
inc2017 = pd.DataFrame(inc2017)

inc2018 = pd.read_csv("income_2018.csv",encoding = "ISO-8859-1")
inc2018 = pd.DataFrame(inc2018)

inc2019 = pd.read_csv("income_2019.csv",encoding = "ISO-8859-1")
inc2019 = pd.DataFrame(inc2019)

In [59]:
income = [inc2010,inc2011,inc2012,inc2013,inc2014,inc2015,inc2016,inc2017,inc2018,inc2019]
income_merged = reduce(lambda left, right: pd.merge(left,right, on=['CBSAA'],how='inner'),income)

name = []

for index, row in income_merged.iterrows():
    name.append(row['NAME_y'][0])

income_merged = income_merged.drop(income_merged.columns[[5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29]], axis=1)
income_merged['Name'] = name

income_merged['Name'] = income_merged['Name'].str.replace('Micro Area','')
income_merged['Name'] = income_merged['Name'].str.replace('Metro Area','')

In [60]:
income_merged.head()

,CBSAA,2010_Income,2011_Income,2012_Income,2013_Income,2014_Income,2015_Income,2016_Income,2017_Income,2018_Income,2019_Income,Name
0,10140,40019,40993,42057,41315,43356,44122,49623,47445,48255,61026,"Aberdeen, WA"
1,10180,40630,40659,43407,44149,44303,47420,48016,51130,48021,54808,"Abilene, TX"
2,10300,45563,44509,48224,45938,46739,48279,51918,56515,55378,53865,"Adrian, MI"
3,10380,14313,14951,15339,15323,15886,14485,14546,16645,17064,16311,"Aguadilla-Isabela-San Sebastián, PR"
4,10420,46521,47032,49731,49984,50538,51580,51598,56106,60019,57158,"Akron, OH"

In [63]:
combine = pd.merge(pop_merged,income_merged, on=['CBSAA'],how='inner')
combine.to_csv('MSA_Pop_and_Income.csv')

In [4]:
h2010 = pd.read_csv("hv_2010.csv",encoding = "ISO-8859-1")
h2010 = pd.DataFrame(h2010)

h2011 = pd.read_csv("hv_2011.csv",encoding = "ISO-8859-1")
h2011 = pd.DataFrame(h2011)

h2012 = pd.read_csv("hv_2012.csv",encoding = "ISO-8859-1")
h2012 = pd.DataFrame(h2012)

h2013 = pd.read_csv("hv_2013.csv",encoding = "ISO-8859-1")
h2013 = pd.DataFrame(h2013)

h2014 = pd.read_csv("hv_2014.csv",encoding = "ISO-8859-1")
h2014 = pd.DataFrame(h2014)

h2015 = pd.read_csv("hv_2015.csv",encoding = "ISO-8859-1")
h2015 = pd.DataFrame(h2015)

h2016 = pd.read_csv("hv_2016.csv",encoding = "ISO-8859-1")
h2016 = pd.DataFrame(h2016)

h2017 = pd.read_csv("hv_2017.csv",encoding = "ISO-8859-1")
h2017 = pd.DataFrame(h2017)

h2018 = pd.read_csv("hv_2018.csv",encoding = "ISO-8859-1")
h2018 = pd.DataFrame(h2018)

h2019 = pd.read_csv("hv_2019.csv",encoding = "ISO-8859-1")
h2019 = pd.DataFrame(h2019)

In [66]:
homes = [h2010,h2011,h2012,h2013,h2014,h2015,h2016,h2017,h2018,h2019]
homes_merged = reduce(lambda left, right: pd.merge(left,right, on=['CBSAA'],how='inner'),homes)

name = []

for index, row in homes_merged.iterrows():
    name.append(row['NAME_y'][0])

homes_merged = homes_merged.drop(homes_merged.columns[[5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29]], axis=1)
homes_merged['Name'] = name

homes_merged['Name'] = homes_merged['Name'].str.replace('Micro Area','')
homes_merged['Name'] = homes_merged['Name'].str.replace('Metro Area','')

In [67]:
combine2 = pd.merge(combine,homes_merged, on=['CBSAA'],how='inner')
combine2.to_csv('MSA_Pop_Income_Housing.csv')

In [14]:
df1 = pd.merge(pop2010,inc2010, on=['CBSAA'],how='inner')
df1a = pd.merge(df1, h2010, on = ['CBSAA'],how = "inner")

df1a = df1a.rename(columns={"2010_Pop": "Population", "2010_Income":"Income","2010_home_value":"Home_Value"})
df1a = df1a.drop(df1a.columns[[0,2,4,5]], axis = 1)
df1a = df1a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df2 = pd.merge(pop2011,inc2011, on=['CBSAA'],how='inner')
df2a = pd.merge(df2, h2011, on = ['CBSAA'],how = "inner")

df2a = df2a.rename(columns={"2011_Pop": "Population", "2011_Income":"Income","2011_home_value":"Home_Value"})
df2a = df2a.drop(df2a.columns[[0,2,4,5]], axis = 1)
df2a = df2a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df3 = pd.merge(pop2012,inc2012, on=['CBSAA'],how='inner')
df3a = pd.merge(df3, h2012, on = ['CBSAA'],how = "inner")

df3a = df3a.rename(columns={"2012_Pop": "Population", "2012_Income":"Income","2012_home_value":"Home_Value"})
df3a = df3a.drop(df3a.columns[[0,2,4,5]], axis = 1)
df3a = df3a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df4 = pd.merge(pop2013,inc2013, on=['CBSAA'],how='inner')
df4a = pd.merge(df4, h2013, on = ['CBSAA'],how = "inner")

df4a = df4a.rename(columns={"2013_Pop": "Population", "2013_Income":"Income","2013_home_value":"Home_Value"})
df4a = df4a.drop(df4a.columns[[0,2,4,5]], axis = 1)
df4a = df4a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df5 = pd.merge(pop2014,inc2014, on=['CBSAA'],how='inner')
df5a = pd.merge(df5, h2014, on = ['CBSAA'],how = "inner")

df5a = df5a.rename(columns={"2014_Pop": "Population", "2014_Income":"Income","2014_home_value":"Home_Value"})
df5a = df5a.drop(df5a.columns[[0,2,4,5]], axis = 1)
df5a = df5a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df6 = pd.merge(pop2015,inc2015, on=['CBSAA'],how='inner')
df6a = pd.merge(df6, h2015, on = ['CBSAA'],how = "inner")

df6a = df6a.rename(columns={"2015_Pop": "Population", "2015_Income":"Income","2015_home_value":"Home_Value"})
df6a = df6a.drop(df6a.columns[[0,2,4,5]], axis = 1)
df6a = df6a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df7 = pd.merge(pop2016,inc2016, on=['CBSAA'],how='inner')
df7a = pd.merge(df7, h2016, on = ['CBSAA'],how = "inner")

df7a = df7a.rename(columns={"2016_Pop": "Population", "2016_Income":"Income","2016_home_value":"Home_Value"})
df7a = df7a.drop(df7a.columns[[0,2,4,5]], axis = 1)
df7a = df7a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df8 = pd.merge(pop2017,inc2017, on=['CBSAA'],how='inner')
df8a = pd.merge(df8, h2017, on = ['CBSAA'],how = "inner")

df8a = df8a.rename(columns={"2017_Pop": "Population", "2017_Income":"Income","2017_home_value":"Home_Value"})
df8a = df8a.drop(df8a.columns[[0,2,4,5]], axis = 1)
df8a = df8a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df9 = pd.merge(pop2018,inc2018, on=['CBSAA'],how='inner')
df9a = pd.merge(df9, h2018, on = ['CBSAA'],how = "inner")

df9a = df9a.rename(columns={"2018_Pop": "Population", "2018_Income":"Income","2018_home_value":"Home_Value"})
df9a = df9a.drop(df9a.columns[[0,2,4,5]], axis = 1)
df9a = df9a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]
########################################################################################
df10 = pd.merge(pop2019,inc2019, on=['CBSAA'],how='inner')
df10a = pd.merge(df10, h2019, on = ['CBSAA'],how = "inner")

df10a = df10a.rename(columns={"2019_Pop": "Population", "2019_Income":"Income","2019_home_value":"Home_Value"})
df10a = df10a.drop(df10a.columns[[0,2,4,5]], axis = 1)
df10a = df10a[['YEAR','NAME','CBSAA','Population','Income','Home_Value']]

In [17]:
df_frames = [df1a,df2a,df3a,df4a,df5a,df6a,df7a,df8a,df9a,df10a]
new_merge = pd.concat(df_frames)
new_merge['NAME'] = new_merge['NAME'].str.replace('Micro Area','')
new_merge['NAME'] = new_merge['NAME'].str.replace('Metro Area','')
new_merge.to_csv('MSA_Pop_Income_Housing2.csv')